# Virtual environment
LoRA_training/venv/
LoRA_training/.venv/
HPA_training/venv/
HPA_training/.venv/
Galore_training/venv/
Galore_training/.venv/
Fullrank_training/venv/
Fullrank_training/.venv/

# Logs
LoRA_training/logs/
HPA_training/logs/
Galore_training/logs/
Fullrank_training/logs/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/

# Other common exclusions
.DS_Store  # macOS
*.log
*.env
*.swp
*.bak
*.pt