# Virtual environment
venv/
.venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/

# Other common exclusions
.DS_Store  # macOS
*.log
*.env
*.swp
*.bak
/script/venv/  # If your venv is in a subdirectory like /script/venv/