# Virtual environment
LoRA_training/venv/
LoRA_training/.venv/
HPA_training/venv/
HPA_training/.venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/

# Other common exclusions
.DS_Store  # macOS
*.log
*.env
*.swp
*.bak